.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e9e4e4;
    margin-bottom: 10px;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin-right: 10px;
}

a {
    text-decoration: none;
}